html{
    background-color: black;
}
body {
    background-image: url("https://i.imgur.com/pPZUkbD.jpg?1");   
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-color: black;
    background-image: sticky;
}
#movieNav{
   float: left; 
   color: whitesmoke;
   margin-bottom: 8px;
   position: absolute;
   top: 20px;
   font-family: 'Fredoka One', cursive;
   
}
.inputs {
    margin-bottom: 8px;
    float: left;
    font-family: 'Fredoka One', cursive;
}

#sort{
    position: absolute;
    left:700px;
    top:170px;
    font-family: 'Fredoka One', cursive;
}

h1{
    text-align: center;
    color: whitesmoke;
    font-family: 'Fredoka One', cursive;    
    font-size: 30px;
}

.cards  {
    color: black;
    overflow: auto;
    height: 600px; overflow-y: auto;
    width: 1400px;
    margin-left: 40px;
} 

md-card-title-text{
    color: blue;
    background-color: black;
    text-align: left;
}
md-card-title-media{
    background-color: darkslategray;
}
md-card-title {
    padding: 0;
    margin: 0;
    background-color: black;
}
/* .md {
    color: darkslategrey;
} */

.md-media-sm card-media {
    color: grey;
}
md-icon-button md-accent{
    color: red;
    z-index: 10;
}

md-card-actions{
    background: none;
}


       /* ----Genre view---- */


#genreHeading{
    margin-left: 370px;
    text-align: center;
}


 #genreNav{
    float: left; 
    color: whitesmoke;
    margin-bottom: 8px;
    position: absolute;
    top: 20px;
    font-family: 'Fredoka One', cursive;

}
      
       


#genreType{
    height:28px;
    margin-top: 11px;
    font-family: 'Fredoka One', cursive;
}
#genreInput{
    margin-top: 49px;
    margin-left: 520px;
    font-family: 'Fredoka One', cursive;
  
}

table{
    margin-left: 430px;
    color: #fc7358
}
tbody{
    color: #fc7358;
    border: 1px solid;
    background-color: black;
}
th{
    font-family: 'Fredoka One', cursive;

}
td {
    color: whitesmoke;
    border: solid 3px #fc7358;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Fredoka One', cursive;
}
