<div layout="row" layout-xs="column">
<section class="bknd">

    <h1 id ="genreHeading">MOVIE DATABASE</h1>

    <div id="genreNav">
    <md-button href ="#!/movies">Add Movies</md-button> <md-button href ="#!/favorites">Favorites</md-button>
    </div>

    <div id="genreInput">
    <input id="genreType" ng-model ="vm.genre.genre" type ="text" placeholder="Add a Genre">
    <md-button class="md-raised md-primary" ng-click="vm.addGenre(vm.genre)", "searchAll = null">Add Genre</md-button>
    </div>
    <h4>Genres</h4>
<table>
    <thead>
        <tr>
            <th>Genre</th><th>Total Movies</th><th>Actions</th>
        </tr>
    </thead>
        <tbody>
            <tr ng-repeat="genre in vm.genre.list">
            <td>{{genre.genre}}</td>
            <td></td>
            <td><md-button class="md-raised md-warn" ng-click= "vm.deleteGenre(genre.id)">Remove Genre</md-button></td>
            
        </tr>


        </tbody>









</table>




</section>