 <div container>
 
 <section>
  
  <!-- dropdown to select movie genre -->

    <h1>Add Movie</h1>
    <input ng-model="vm.movie.name" type="text" placeholder="Movie Title">
    <input ng-model="vm.movie.release_date" type="number" placeholder="Release Date">
  
    

  <select>
    <option value="Comedy">Comedy</option>
    <option value="Action/Adventure">Action/Adventure</option>
    <option value="Drama">Drama</option>
    <option value="Horror">Horror/Suspense</option>
    <option value="Family">Family</option>
    <option value="Television">Television</option>
</select>

<button class="addMovie" ng-click 'vm.addMovie'>Add to Collection</button>

    <!-- movies to be placed here -->

    <ul>
        <tr></tr>







    </ul>



</div>
</section>